<section class="section__memberships">
    <div class="container">

        <div class="memberships-area">

            <!-- CARD 1 -->
            <div class="membership-option">
                <div class="membership-information">
                    <h4>Standard Membership</h4>
                    <hr />
                    <p>With the Standard Membership, get access to our full range of gym facilities.</p>

                    <ul class="check-list">
                        <li class="check-list-item">Standard Locker</li>
                        <li class="check-list-item">High-energy group fitness classes</li>
                        <li class="check-list-item">Motivating & supportive environment</li>
                    </ul>
                </div>

                <div class="info-box">
                    <div class="price">
                        495.00 <span>/monthly</span>
                        <div class="note">*10 Classes Monthly</div>
                    </div>

                    <div class="cta-btn">
                        <a class="btn accent" href="#">Join now</a>
                    </div>
                    <hr />

                    <div class="additional-information">
                        Try Any Membership Free for 1 Week
                    </div>
                </div>
            </div>

            <!-- CARD 2 -->
            <div class="membership-option featured">
                <div class="membership-information">
                    <h4>Premium Membership</h4>
                    <hr />
                    <p>With the Premium Membership, get access to our full range of gym facilities.</p>

                    <ul class="check-list">
                        <li class="check-list-item">Priority Support & Premium Locker</li>
                        <li class="check-list-item">High-energy group fitness classes</li>
                        <li class="check-list-item">Motivating & supportive environment</li>
                    </ul>
                </div>

                <div class="info-box">
                    <div class="price">
                        595.00 <span>/monthly</span>
                        <div class="note">*20 Classes Monthly</div>
                    </div>

                    <div class="cta-btn">
                        <a class="btn accent" href="#">Join now</a>
                    </div>
                    <hr />

                    <div class="additional-information">
                        Try Any Membership Free for 1 Week
                    </div>
                </div>
            </div>

            <!-- CARD 3 -->
            <div class="membership-option contact-card">
                <div class="info-box">
                    
                    <h4>
                        Get Your Membership
                    </h4>
                    
                    <p>Our memberships give you access to all our equipment and personalized training.</p>
                    <hr />

                    <h4 class="call-us">
                        Call Us At: +(46) 8 410 521 00
                    </h4>
                    <div class="cta-btn">
                        <a class="btn accent" href="#">Call us today!</a>
                    </div>
                </div>
                <div class="contact-image">
                    <img src="images/membership-image.png" alt="Trainer" />
                </div>
            </div>

        </div>

        <div class="membership-features">
            <div class="membership-feature schedule-check">Get 30 day free trial</div>
            <div class="membership-feature credit-card">No hidden fees</div>
            <div class="membership-feature clock">Cancel anytime</div>
        </div>

    </div>
</section>